<!-- How to do a show more/less bar: https://codepen.io/srekoble/pen/WGBzea?editors=1100 -->
<div class="news" , id="news">
  <h1>News</h1>
  <ul>
    {%- for n in site.data.news %}{%- unless n.collapsed %}
    <li>
      <strong class="news-date">{{ n.label }}</strong> {{ n.body }}
    </li>
    {%- endunless %}{%- endfor %}
  </ul>

  <div class="collapse_container">
    <input type="checkbox" id="check_id" />
    <label for="check_id"></label>
    <ul>
      {%- for n in site.data.news %}{%- if n.collapsed %}
      <li>
        <strong class="news-date">{{ n.label }}</strong> {{ n.body }}
      </li>
      {%- endif %}{%- endfor %}
      <!-- more list items here -->
    </ul>
  </div>
</div>
