              <div class="misc" id="yixuanlife">
                <h1>Miscellaneous</h1>
                <h5>
                  <b
                    >If you are interested in my personal life, please click
                    <a
                      href="https://www.personal.yixuanyang.com"
                      target="_blank"
                      >HERE</a
                    >! (REMINDER - If you're in mainland China, you may need a
                    VPN 🪜 to access this link.)</b
                  >
                </h5>
                
                <!-- <div class="lifestyle-columns">

                      <div class="lifestyle-col">
                        <img class="lifestyle-img" src="assets/img/lifestyle/duke_halloween.JPG" alt="" />
                        <div class="caption_below">Duke Halloween.</div>
                        <div class="caption_below_lifestyle">2023.11, Duke University.</div>
                      </div>

                      <div class="lifestyle-col">
                        <img class="lifestyle-img" src="assets/img/lifestyle/basketball_columbia.jpg" alt="" />
                        <div class="caption_below">Last play in Levien Gym :(.</div>
                        <div class="caption_below_lifestyle">2022.12, Columbia.</div>
                      </div>

                      <div class="lifestyle-col">
                        <img class="lifestyle-img" src="assets/img/lifestyle/columbia_boat.png" alt="" />
                        <div class="caption_below">Columbia Boat Cruise Social.</div>
                        <div class="caption_below_lifestyle">2022.09, Columbia.</div>
                      </div>

                      <div class="lifestyle-col">
                        <img class="lifestyle-img" src="assets/img/lifestyle/Kobe_los.jpg" alt="" />
                        <div class="caption_below">Shoot like him.</div>
                        <div class="caption_below_lifestyle">2022.08, Los Angeles.</div>
                      </div>

                    </div> -->
              </div>
