              <div class="namecard" id="biography">
                <div class="affiliations-col">
                  <h1 class="name">Yixuan Yang</h1>
                  <br />

                  <p class="name_title">
                    <b
                      >Ph.D. Student at
                      <a href="https://duke.edu/" target="_blank"
                        >Duke University</a
                      ></b
                    ><br />
                    <a href="https://ece.duke.edu/" target="_blank"
                      >Department of Electrical and Computer Engineering</a
                    >
                    <br />

                    <!-- <b>Member</b>,
                        <a href="http://generalroboticslab.com/" target="_blank"
                          >General Robotics Lab (GRL)</a>  -->
                    <br />
                  </p>

                  <p>
                    <a
                      href="https://www.linkedin.com/in/yeungyathin"
                      target="_blank"
                      >Linkedin </a
                    >/
                    <a href="https://github.com/YeungYathin" target="_blank"
                      >Github </a
                    >/
                    <a
                      href="https://scholar.google.com/citations?user=U97wn_wAAAAJ&hl=en&oi=ao"
                      target="_blank"
                      >Google Scholar </a
                    >/
                    <a href="https://x.com/Yeung_Yathin" target="_blank"
                      >X (Twitter) </a
                    >/
                    <a href="assets/docs/Yixuan_Yang_CV.pdf" target="_blank"
                      >CV
                    </a>
                    <!-- <br /> -->
                    <!-- <a href="assets/docs/Yixuan_Yang_Resume.pdf" target="_blank"
                      >💼 Résumé (Industry)
                    </a> -->
                  </p>

                  <!-- <p>
                        <b style="color: red; font-size: 1.2em;"><i>I am actively looking for Ph.D. opportunities!<br> 
                          Please let me know if you are interested in my work!</i></b>
                      </p> -->
                </div>

                <div class="profile-img-col">
                  <img
                    src="assets/img/handsome_yixuan.JPG"
                    class="profile-img"
                    alt=""
                  />
                </div>
              </div>

              <div class="about">
                <!-- <h1>About</h1> -->

                <p>
                  Hi there from Yixuan! I am a Ph.D. student in
                  <a href="https://ece.duke.edu/" target="_blank"
                    >the Department of Electrical and Computer Engineering</a
                  >
                  at
                  <a href="https://duke.edu/" target="_blank">Duke University</a
                  >. I am currently a member of the
                  <a href="https://www.kamaleswaran.com/" target="_blank"
                    >Kamaleswaran Lab</a
                  >, where I am honored to be advised by
                  <a href="https://www.kamaleswaran.com/team" target="_blank"
                    >Professor Rishi Kamaleswaran</a
                  >. My research focuses on world models and self-supervised
                  representation learning. I study how complex dynamical systems
                  evolve under intervention, and how to build representations of
                  those dynamics that transfer across tasks and domains. I
                  currently work on clinical time series in the ICU. Prior to
                  this, I worked in the General Robotics Lab during my first
                  year under the supervision of
                  <a href="http://boyuanchen.com/" target="_blank"
                    >Professor Boyuan Chen</a
                  >, exploring Contact-Rich Robotic Manipulation and Embodied
                  AI.
                  <b
                    ><i
                      >My long-term goal is to build foundation models that
                      understand how the world changes: systems that learn
                      predictive world models and make robust decisions in
                      complex, unstructured environments</i
                    ></b
                  >
                  🧠🤖.
                </p>

                <p>
                  I received my Bachelor's degree in
                  <a href="https://cse.sustech.edu.cn/" target="_blank"
                    >Computer Science</a
                  >
                  from
                  <a href="https://www.sustech.edu.cn/" target="_blank"
                    >Southern University of Science and Technology</a
                  >
                  in Shenzhen, China. During my undergraduate studies, I was
                  proud and fortunate to be supervised (Academic Advisor) by
                  <a
                    href="https://scholar.google.co.uk/citations?user=UUtYPl4AAAAJ&hl=en"
                    target="_blank"
                  >
                    Chair Professor Xin Yao (Fellow, IEEE)</a
                  >. In the Fall 2022 semester, I studied at the
                  <a href="https://www.berkeley.edu/" target="_blank"
                    >University of California, Berkeley</a
                  >
                  as an exchange student and was honored to receive a
                  recommendation letter from Professor
                  <a
                    href="https://scholar.google.com/citations?user=Vzr1RukAAAAJ&hl=en"
                    target="_blank"
                    >Igor Mordatch</a
                  >. In my junior and senior years, I had the opportunity to be
                  a visiting student in
                  <a
                    href="https://www.sigs.tsinghua.edu.cn/cxl_en/main.htm"
                    target="_blank"
                    >Professor Xinlei Chen</a
                  >'s research group at
                  <a href="https://www.tsinghua.edu.cn/en/" target="_blank"
                    >Tsinghua University</a
                  >
                  (<a
                    href="https://vcresearch.berkeley.edu/research-unit/tsinghua-berkeley-shenzhen-institute"
                    target="_blank"
                    >Tsinghua University - UC Berkeley Research Institute</a
                  >).
                </p>
              </div>
